code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  box-sizing: border-box;
  width: 100vw;
  min-height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: linear-gradient(69.89deg, rgba(53, 92, 125, 0.8) 8%, rgba(108, 91, 123, 0.8) 52.29%, rgba(192, 108, 132, 0.8) 93.6%);

  text-align: center;
  font-size: 1em;
  margin: 0 auto;
  padding: 0;


  font-weight: 300;
  line-height: 1.4;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, textarea, button, p, div, section, article, select {
  display: block;
  font-family: sans-serif;
  font-size: 1em;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: rebeccapurple;
}
